* {
	box-sizing: border-box;
}

body {
	height: 100vw;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	letter-spacing: .02em;
}

p {
	font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: .7em;
    letter-spacing: .1em;
    color: #58595b;
    font-weight: 400;
}

a {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .04em;
    text-decoration: none;
    color: #666;
}