.isHidden {
	opacity: 0;
}

.isOnTop {
	position: absolute;
	top: 0;
}

.transition {
	transition: all .5s ease;
}

.isAbsolute {
	position: absolute;
}

.z-index-one {
	z-index: 1;
}

.z-index-two {
	z-index: 2;
}