.analysisMap {
	position: relative;
	margin-top: 130px;
}

.analysisWashington {
	width: 59.5px;
	position: absolute;
    top: 0;
    left: 26px;
}

.analysisOregon {
	width: 72px;
	position: absolute;
    top: 27px;
    left: 11px;
}

.analysisCalifornia {
	width: 74px;
	position: absolute;
    top: 70px;
    left: 5px;
}

.analysisNevada {
	width: 58px;
	position: absolute;
    top: 79px;
    left: 36px;
}

.analysisIdaho {
	width: 52px;
	position: absolute;
    top: 10px;
    left: 68px;
}

.analysisArizona {
	width: 61px;
	position: absolute;
    top: 143px;
    left: 67px;
}

.analysisUtah {
	width: 50px;
	position: absolute;
    top: 89px;
    left: 82px;
}

.analysisMontana {
	width: 91px;
	position: absolute;
    top: 11px;
    left: 87px;
}

.analysisWyoming {
	width: 62px;
	position: absolute;
    top: 61px;
    left: 113px;
}

.analysisColorado {
	width: 65px;
	position: absolute;
    top: 106px;
    left: 126px;
}

.analysisNewmexico {
	width: 62px;
	position: absolute;
    top: 150px;
    left: 119px;
}

.analysisNdakota {
	width: 60px;
	position: absolute;
    top: 22px;
    left: 175px;
}

.analysisSdakota {
	width: 63px;
	position: absolute;
    top: 56px;
    left: 173px;
}

.analysisNebraska {
	width: 75px;
	position: absolute;
    top: 87px;
    left: 172px;
}

.analysisKansas {
	width: 67px;
	position: absolute;
    top: 120px;
    left: 187px;
}

.analysisOklahoma {
	width: 81px;
	position: absolute;
    top: 153px;
    left: 178px;
}

.analysisTexas {
	width: 130px;
	position: absolute;
    top: 158px;
    left: 142px;
}

.analysisMinnesota {
	width: 58px;
	position: absolute;
    top: 17px;
    left: 226px;
}

.analysisIowa {
	width: 55px;
	position: absolute;
    top: 79px;
    left: 233px;
}

.analysisMissouri {
	width: 63px;
	position: absolute;
    top: 111px;
    left: 240px;
}

.analysisLouisiana {
	width: 55px;
	position: absolute;
    top: 194px;
    left: 264px;
}

.analysisWisconsin {
	width: 46px;
	position: absolute;
    top: 41px;
    left: 260px;
}

.analysisIllinois {
	width: 37px;
	position: absolute;
    top: 87px;
    left: 277px;
}

.analysisMichigan {
	width: 70px;
	position: absolute;
    top: 36px;
    left: 278px;
}

.analysisIndiana {
	width: 29px;
	position: absolute;
    top: 91px;
    left: 307px;
}

.analysisKentucky {
	width: 65px;
	position: absolute;
    top: 119px;
    left: 299px;
}

.analysisTennessee {
	width: 76px;
	position: absolute;
    top: 141px;
    left: 293px;
}

.analysisMississippi {
	width: 34px;
	position: absolute;
    top: 169px;
    left: 288px;
}

.analysisAlabama {
	width: 38px;
	position: absolute;
    top: 165px;
    left: 315px;
}

.analysisGeorgia {
	width: 52px;
	position: absolute;
    top: 160px;
    left: 338px;
}

.analysisOhio {
	width: 38px;
	position: absolute;
    top: 81px;
    left: 329px;
}

.analysisWVirginia {
	width: 39px;
	position: absolute;
    top: 95px;
    left: 355px;
}

.analysisVirginia {
	width: 70px;
	position: absolute;
    top: 103px;
    left: 349px;
}

.analysisNCarolina {
	width: 76px;
	position: absolute;
    top: 128px;
    left: 347px;
}

.analysisSCarolina {
	width: 47px;
	position: absolute;
    top: 155px;
    left: 358px;
}

.analysisFlorida {
	width: 87px;
	position: absolute;
    top: 202px;
    left: 326px;
}

.analysisPennsylvania {
	width: 54px;
	position: absolute;
    top: 69px;
    left: 361px;
}

.analysisMaryland {
	width: 42px;
	position: absolute;
    top: 94px;
    left: 378px;
}

.analysisNewyork {
	width: 68px;
	position: absolute;
    top: 32px;
    left: 367px;
}

.blueState {
	fill:#e5dbca;stroke:#592c4e;stroke-width:0.75;stroke-miterlimit:10;
}

.purpleState {
	fill:#e5dbca;stroke:#592c4e;stroke-width:0.75;stroke-miterlimit:10;
}

.analysisDelaware {
	width: 11px;
	position: absolute;
    top: 93px;
    left: 409px;
}

.analysisNewjersey {
	width: 13px;
	position: absolute;
    top: 74px;
    left: 408px;
}

.analysisConneticut {
	width: 16px;
	position: absolute;
    top: 58px;
    left: 417px;
}

.analysisMassachusetts {
	width: 31px;
	position: absolute;
    top: 47px;
    left: 416px;
}

.analysisVermont {
	width: 16px;
	position: absolute;
    top: 27px;
    left: 407px;
}

.analysisNewhampshire {
	width: 15px;
	position: absolute;
    top: 23px;
    left: 419px;
}

.analysisMaine {
	width: 34px;
	position: absolute;
    top: -6px;
    left: 422px;
}

.analysisRhodeIsland {
	width: 5px;
	position: absolute;
    top: 57px;
    left: 430px;
}

.analysisArkansas {
	width: 47px;
	position: absolute;
    top: 155px;
    left: 255px;
}