/* DISEASE TRANSFER */


.diseaseTransfer {
	width: 100vw;
	height: 100vh;
	background-color: #49182e;
	top: 100vh;
}

.transferInnerWrapper {
	height: 100vh;
	position: relative;
	margin-top: -30px;
}

.diseaseTransferHeader {
	color: #eac19b;
	margin: 0 auto;
    margin-top: 40px;
    width: 321px;
    font-weight: 400;
    line-height: 1.3em;
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .16em;
}

.armHeader {
	margin: 30px;
}

.diseaseContent {
	margin: 0 auto;
	margin-top: 50px;
    width: 686px;
    height: 150px;
}

hr {
	margin: 0;
	width: 45px;
	text-align: left;
	border-color: #eac19b;
	margin-top: 20px;
	
}

.armContainer {
	margin-top: 60px;
	position: relative;
	overflow: hidden;
}

.arm {
	width: 2790px;
}

.armTick {
	width: 40px;
	position: absolute;
	top: 140px;
	left: -40px;
	
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.armRash {
	position: absolute;
	top: 70px;
	left: 45vw;
}

.armSpirocheteOne {
	position: absolute;
	top: 30px;
	left: 35vw;
}

.armSpirocheteTwo {
	position: absolute;
	top: 200px;
	left: 40vw;
}

.armSpirocheteThree {
	position: absolute;
	top: 250px;
	left: 56vw;
}

.diseaseTransferP {
    width: 287px;
    font-size: .93em;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: .05em;
    color: #eac19b;
    float: left;
    margin-right: 56px;
}

.diseaseTransferGrass {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #EAC19B;
}