.sectionOne {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #df6f55;
}

.sOneLOne {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.sOneLTwo {
	width: 120%;
	position: absolute;
	bottom: 0;
}

.sOneLThree {
	width: 120%;
	position: absolute;
	bottom: -100px;
}

.sOneLFour {
	width: 80%;
	right: 100px;
	bottom: 0px;
}

.sOneLFive {
	width: 100%;
	bottom: 0px;
}

.heroPositioning {
	position: absolute;
}

.heroCloudOne {
	width: 200px;
	display: inherit;
	position: absolute;
	top: 200px;
	right: -200px;
	opacity: .45;
}

.heroCloudTwo {
	width: 150px;
	display: inherit;
	position: absolute;
	top: 30px;
	right: -200px;
	opacity: .3;
}

.heroCloudThree {
	width: 30px;
	display: inherit;
	position: absolute;
	top: 200px;
	right: -30px;
	opacity: .15;
}

.heroCloudFour {
	width: 80px;
	display: inherit;
	position: absolute;
	top: 300px;
	right: -30px;
	opacity: .2;
}

.heroTag {
	display: inherit;
	margin: 0 auto;
}

.heroHeader {
	font-family: "Oswald", sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .14em;
	color: #261022;
}

.bold {
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1em;
}

.tickOne {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: 0;
	left: 50px;
}

.tickTwo {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: 0;
	left: 150px;
}

.tickThree {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: -50px;
	left: 100px;
}

.tickFour {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: 0;
	right: 50px;
}

.tickFive {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: 0;
	right: 150px;
}

.tickSix {
	width: 50px;
	display: inherit;
	position: absolute;
	bottom: -50px;
	right: 100px;
}

.sectionHeader {
	padding: 50px 50px 0px 50px;
}