/* PURPLE STATES */

.elevenToTwelveAnimation {
	animation-name: sliderBarPartOne;
	-webkit-animation-name: sliderBarPartOne;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	
	animation-delay: 1s;
	-webkit-animation-delay: 1s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes sliderBarPartOne {
	0% { transform: scaleX(0);}
	100% { transform: scaleX(.5);}	
}


.twelveToThirteenAnimation {
	animation-name: sliderBarPartTwo;
	-webkit-animation-name: sliderBarPartTwo;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	
	animation-delay: 3s;
	-webkit-animation-delay: 3s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes sliderBarPartTwo {
	0% { transform: scaleX(.5);}
	100% { transform: scaleX(1);}	
}


.twelveDotAnimation {
	animation-name: twelveDotColor;
	-webkit-animation-name: twelveDotColor;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;
	
	animation-delay: 2s;
	-webkit-animation-delay: 2s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;
}

.thirteenDotAnimation {
	animation-name: twelveDotColor;
	-webkit-animation-name: twelveDotColor;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;
	
	animation-delay: 4s;
	-webkit-animation-delay: 4s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;
}

@keyframes twelveDotColor {
		0% {background-color: #eee;}
		100% {background-color: $dark-purple;}
}


.twelveCasesAnimation {
	animation-name: casesColor;
	-webkit-animation-name: casesColor;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;
	
	animation-delay: 2s;
	-webkit-animation-delay: 2s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;
}

.thirteenCasesAnimation {
	animation-name: casesColor;
	-webkit-animation-name: casesColor;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;
	
	animation-delay: 4s;
	-webkit-animation-delay: 4s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;
}

@keyframes casesColor {
		0% {color: white;}
		100% {color: $dark-purple;}
}









/* ALABAMA FILL */

.alabamaStateAnimation {
	animation-name: stateColorTransitionOne;
	-webkit-animation-name: stateColorTransitionOne;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionOne {
	0% { opacity: .3}
	45% {opacity: .3}
	50% {opacity: .4}
	90% {opacity: .4}
	95% {opacity: .5}
	100% {opacity: .5}	
}


/* ARIZONA FILL */

.arizonaStateAnimation {
	animation-name: stateColorTransitionTwo;
	-webkit-animation-name: stateColorTransitionTwo;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionTwo {
	0% { opacity: .4}
	45% {opacity: .4}
	50% {opacity: .5}
	90% {opacity: .5}
	95% {opacity: .6}
	100% {opacity: .6}	
}

/* CALIFORNIA FILL */

.californiaStateAnimation {
	animation-name: stateColorTransitionThree;
	-webkit-animation-name: stateColorTransitionThree;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionThree {
	0% { opacity: .6}
	45% {opacity: .6}
	50% {opacity: .5}
	90% {opacity: .5}
	95% {opacity: .6}
	100% {opacity: .6}	
}

/* COLORADO FILL */

.coloradoStateAnimation {
	animation-name: stateColorTransitionFour;
	-webkit-animation-name: stateColorTransitionFour;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionFour {
	0% { opacity: .4}
	45% {opacity: .4}
	50% {opacity: .3}
	90% {opacity: .3}
	95% {opacity: .4}
	100% {opacity: .4}	
}

/* CONNETICUT FILL */

.conneticutStateAnimation {
	animation-name: stateColorTransitionConneticut;
	-webkit-animation-name: stateColorTransitionConneticut;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionConneticut {
	0% { opacity: .8}
	45% {opacity: .8}
	50% {opacity: .7}
	90% {opacity: .7}
	95% {opacity: .8}
	100% {opacity: .8}	
}

/* DELAWARE FILL */

.delawareStateAnimation {
	animation-name: stateColorTransitionDelaware;
	-webkit-animation-name: stateColorTransitionDelaware;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionDelaware {
	0% { opacity: .7}
	45% {opacity: .7}
	50% {opacity: .6}
	90% {opacity: .6}
	95% {opacity: .7}
	100% {opacity: .7}	
}

/* IDAHO FILL */

.idahoStateAnimation {
	animation-name: stateColorTransitionIdaho;
	-webkit-animation-name: stateColorTransitionIdaho;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionIdaho {
	0% { opacity: .2}
	45% {opacity: .2}
	50% {opacity: .3}
	90% {opacity: .3}
	95% {opacity: .2}
	100% {opacity: .2}	
}

/* ILLINOIS FILL */

.illinoisStateAnimation {
	animation-name: stateColorTransitionIllinois;
	-webkit-animation-name: stateColorTransitionIllinois;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionIllinois {
	0% { opacity: .7}
	45% {opacity: .7}
	50% {opacity: .6}
	90% {opacity: .6}
	95% {opacity: .8}
	100% {opacity: .8}	
}

/* INDIANA FILL */

.indianaStateAnimation {
	animation-name: stateColorTransitionIndiana;
	-webkit-animation-name: stateColorTransitionIndiana;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionIndiana {
	0% { opacity: .5}
	45% {opacity: .5}
	50% {opacity: .6}
	90% {opacity: .6}
	95% {opacity: .7}
	100% {opacity: .7}	
}


/* MASSACHUSETTS FILL */

.massachusettsStateAnimation {
	animation-name: stateColorTransitionMassachusetts;
	-webkit-animation-name: stateColorTransitionMassachusetts;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionMassachusetts {
	0% { opacity: .9}
	45% {opacity: .9}
	50% {opacity: .8}
	90% {opacity: .8}
	95% {opacity: .9}
	100% {opacity: 1}	
}


/* MICHIGAN FILL */

.michiganStateAnimation {
	animation-name: stateColorTransitionMichigan;
	-webkit-animation-name: stateColorTransitionMichigan;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionMichigan {
	0% { opacity: .6}
	45% {opacity: .6}
	50% {opacity: .7}
	90% {opacity: .7}
	95% {opacity: .8}
	100% {opacity: .8}	
}


/* MISSISSIPPI FILL */

.mississippiStateAnimation {
	animation-name: stateColorTransitionMississippi;
	-webkit-animation-name: stateColorTransitionMississippi;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionMississippi {
	0% { opacity: .3}
	45% {opacity: .3}
	50% {opacity: .3}
	90% {opacity: .3}
	95% {opacity: .2}
	100% {opacity: .2}	
}


/* NEBRASKA FILL */

.nebraskaStateAnimation {
	animation-name: stateColorTransitionNebraska;
	-webkit-animation-name: stateColorTransitionNebraska;	

	animation-duration: 4.5s;	
	-webkit-animation-duration: 4.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;			
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	visibility: visible !important;	
}

@keyframes stateColorTransitionNebraska {
	0% { opacity: .2}
	45% {opacity: .2}
	50% {opacity: .2}
	90% {opacity: .2}
	95% {opacity: .3}
	100% {opacity: .3}	
}