.individualInnerWrapper {
	width: 1280px;
	margin: 0 auto;
}

.individualStateLeft {
	width: 35%;
	float: left;
	padding: 120px 0 0 200px;
}

.individualStateRight {
	width: 65%;
	float: left;
	padding: 50px 0 0 0;
}

.graphSlider {
	position: relative;
	width: 100%;
	height: 150px;
	padding: 50px 50px 0px 50px;
}

.sliderBar {
	position: absolute;
	top: 70px;
	height: 3px;
	width: 450px;
	background-color: #eee;
}

.sliderBarFilled {
	position: absolute;
	top: 70px;
	height: 3px;
	width: 450px;
	background-color: $dark-purple;
	transform: scaleX(0);
	transform-origin: left;
}

.sliderDot {
	height: 15px;
	width: 15px;
	border-radius: 15px;
}

.sliderDotOne {
	position: absolute;
	top: 64px;
	background-color: $dark-purple;
}

.sliderDotTwelve {
	position: absolute;
	top: 64px;
	left: 270px;
	background-color: #eee;
}

.sliderDotThree {
	position: absolute;
	top: 64px;
	left: 490px;
}

.elevenYear {
    position: absolute;
    top: 20px;
}

.elevenCases {
	position: absolute;
	top: 80px;
	left: 53px;
	font-size: .8em;
	font-weight: 600;
	color: $dark-purple;
}

.twelveYear {
    position: absolute;
    top: 20px;
    left: 271px
}

.twelveCases {
	position: absolute;
	top: 80px;
	left: 271px;
	font-size: .8em;
	font-weight: 600;
	color: white;
}

.thirteenYear {
    position: absolute;
    top: 20px;
    left: 491px
}

.thirteenCases {
	position: absolute;
	top: 80px;
	left: 491px;
	font-size: .8em;
	font-weight: 600;
	color: white;
}

.individualStateFill {
	fill:$dark-purple;
}

.alabamaIndividual {
	width: 100vw;
	height: 500px;
}

.alabamaIndividualSVG {
	height: 200px;
}

.alabamaFill {
	opacity:0.3;
}

.arizonaIndividual {
	width: 100vw;
	height: 500px;
}

.arizonaIndividualSVG {
	height: 170px;
}

.arizonaFill {
	opacity:0.4;
}

.arkansasIndividual {
	width: 100vw;
	height: 500px;
}

.arkansasIndividualSVG {
	height: 170px;
}

.arkansasFill {
	opacity:0.3;
}

.californiaIndividual {
	width: 100vw;
	height: 500px;
}

.californiaIndividualSVG {
	margin-top: -20px;
	height: 220px;
}

.californiaFill {
	opacity:0.6;
}

.coloradoIndividual {
	width: 100vw;
	height: 500px;
}

.coloradoIndividualSVG {
	height: 140px;
}

.coloradoFill {
	opacity:0.4;
}

.conneticutIndividual {
	width: 100vw;
	height: 500px;
}

.conneticutIndividualSVG {
	height: 190px;
}

.conneticutFill {
	opacity:0.8;
}

.delawareIndividual {
	width: 100vw;
	height: 500px;
}

.delawareIndividualSVG {
	height: 210px;
}

.delawareFill {
	opacity:0.7;
}

.floridaIndividual {
	width: 100vw;
	height: 500px;
}

.floridaIndividualSVG {
	height: 150px;
}

.floridaFill {
	opacity:0.6;
}

.georgiaIndividual {
	width: 100vw;
	height: 500px;
}

.georgiaIndividualSVG {
	height: 180px;
}

.georgiaFill {
	opacity:0.6;
}

.idahoIndividual {
	width: 100vw;
	height: 500px;
}

.idahoIndividualSVG {
	height: 200px;
}

.idahoFill {
	opacity:0.6;
}

.illinoisIndividual {
	width: 100vw;
	height: 500px;
}

.illinoisIndividualSVG {
	height: 200px;
}

.illinoisFill {
	opacity:0.7;
}

.indianaIndividual {
	width: 100vw;
	height: 500px;
}

.indianaIndividualSVG {
	height: 200px;
}

.indianaFill {
	opacity:0.7;
}

.iowaIndividual {
	width: 100vw;
	height: 500px;
}

.iowaIndividualSVG {
	height: 150px;
}

.iowaFill {
	opacity:0.7;
}

.kansasIndividual {
	width: 100vw;
	height: 500px;
}

.kansasIndividualSVG {
	height: 120px;
}

.kansasFill {
	opacity:0.7;
}

.kentuckyIndividual {
	width: 100vw;
	height: 500px;
}

.kentuckyIndividualSVG {
	height: 130px;
}

.kentuckyFill {
	opacity:0.7;
}


.louisianaIndividual {
	width: 100vw;
	height: 500px;
}

.louisianaIndividualSVG {
	height: 160px;
}

.louisianaFill {
	opacity:0.7;
}


.maineIndividual {
	width: 100vw;
	height: 500px;
}

.maineIndividualSVG {
	height: 220px;
}

.maineFill {
	opacity:0.8;
}


.marylandIndividual {
	width: 100vw;
	height: 500px;
}

.marylandIndividualSVG {
	margin-left: -50px;
	height: 130px;
}

.marylandFill {
	opacity:0.8;
}


.massachusettsIndividual {
	width: 100vw;
	height: 500px;
}

.massachusettsIndividualSVG {
	margin-left: -30px;
	height: 130px;
}

.massachusettsFill {
	opacity:0.8;
}


.michiganIndividual {
	width: 100vw;
	height: 500px;
}

.michiganIndividualSVG {
	margin-left: -30px;
	height: 130px;
}

.michiganFill {
	opacity:0.6;
}


.minnesotaIndividual {
	width: 100vw;
	height: 500px;
}

.minnesotaIndividualSVG {
	margin-top: -10px;
	height: 190px;
}

.minnesotaFill {
	opacity:0.6;
}


.mississippiIndividual {
	width: 100vw;
	height: 500px;
}

.mississippiIndividualSVG {
	margin-top: -10px;
	height: 200px;
}

.mississippiFill {
	opacity:0.3;
}


.missouriIndividual {
	width: 100vw;
	height: 500px;
}

.missouriIndividualSVG {
	margin-top: -10px;
	height: 180px;
}

.missouriFill {
	opacity:0.3;
}


.montanaIndividual {
	width: 100vw;
	height: 500px;
}

.montanaIndividualSVG {
	margin-top: -10px;
	height: 140px;
}

.montanaFill {
	opacity:0.3;
}


.nebraskaIndividual {
	width: 100vw;
	height: 500px;
}

.nebraskaIndividualSVG {
	margin-left: -10px;
	height: 120px;
}

.nebraskaFill {
	opacity:0.2;
}







