.individualStates {
	position: relative;
}

.selectNewState {
	position: fixed;
	right: 50px;
	bottom: 50px;
	border: 1px solid #666;
    padding: 5px 7px 5px 7px;
    border-radius: 3px;
}

.individualInnerWrapper {
	width: 1280px;
	margin: 0 auto;
}

.individualStateLeft {
	width: 35%;
	float: left;
	padding: 120px 0 0 200px;
}

.individualStateRight {
	width: 65%;
	float: left;
	padding: 50px 0 0 0;
}

.graphSlider {
	position: relative;
	width: 100%;
	height: 150px;
	padding: 50px 50px 0px 50px;
}

.sliderBar {
	position: absolute;
	top: 70px;
	height: 3px;
	width: 450px;
	background-color: #eee;
}

.sliderBarFilled {
	position: absolute;
	top: 70px;
	height: 3px;
	width: 450px;
	background-color: $dark-purple;
	transform: scaleX(0);
	transform-origin: left;
}

.sliderDot {
	height: 15px;
	width: 15px;
	border-radius: 15px;
}

.sliderDotOne {
	position: absolute;
	top: 64px;
	background-color: $dark-purple;
}

.sliderDotTwelve {
	position: absolute;
	top: 64px;
	left: 270px;
	background-color: #eee;
}

.sliderDotThree {
	position: absolute;
	top: 64px;
	left: 490px;
}

.elevenYear {
    position: absolute;
    top: 20px;
}

.elevenCases {
	position: absolute;
	top: 80px;
	left: 53px;
	font-size: .8em;
	font-weight: 600;
	color: $dark-purple;
}

.twelveYear {
    position: absolute;
    top: 20px;
    left: 271px
}

.twelveCases {
	position: absolute;
	top: 80px;
	left: 271px;
	font-size: .8em;
	font-weight: 600;
	color: white;
}

.thirteenYear {
    position: absolute;
    top: 20px;
    left: 491px
}

.thirteenCases {
	position: absolute;
	top: 80px;
	left: 491px;
	font-size: .8em;
	font-weight: 600;
	color: white;
}

.individualStateFill {
	fill:$dark-purple;
}

.stateSection {
	height: 100vh;
	padding-top: 25vh;
	background-color: white;
}

.alabamaIndividual {
	width: 100vw;
}

.alabamaIndividualSVG {
	height: 200px;
}

.alabamaFill {
	opacity:0.3;
}

.arizonaIndividual {
	width: 100vw;
}

.arizonaIndividualSVG {
	height: 170px;
}

.arizonaFill {
	opacity:0.4;
}

.arkansasIndividual {
	width: 100vw;
}

.arkansasIndividualSVG {
	height: 170px;
}

.arkansasFill {
	opacity:0.3;
}

.californiaIndividual {
	width: 100vw;
}

.californiaIndividualSVG {
	margin-top: -20px;
	height: 220px;
}

.californiaFill {
	opacity:0.6;
}

.coloradoIndividual {
	width: 100vw;
}

.coloradoIndividualSVG {
	height: 140px;
}

.coloradoFill {
	opacity:0.4;
}

.conneticutIndividual {
	width: 100vw;
}

.conneticutIndividualSVG {
	height: 190px;
}

.conneticutFill {
	opacity:0.8;
}

.delawareIndividual {
	width: 100vw;
}

.delawareIndividualSVG {
	height: 210px;
}

.delawareFill {
	opacity:0.7;
}

.floridaIndividual {
	width: 100vw;
}

.floridaIndividualSVG {
	height: 150px;
}

.floridaFill {
	opacity:0.6;
}

.georgiaIndividual {
	width: 100vw;
}

.georgiaIndividualSVG {
	height: 180px;
}

.georgiaFill {
	opacity:0.6;
}

.idahoIndividual {
	width: 100vw;
}

.idahoIndividualSVG {
	height: 200px;
}

.idahoFill {
	opacity:0.6;
}

.illinoisIndividual {
	width: 100vw;
}

.illinoisIndividualSVG {
	height: 200px;
}

.illinoisFill {
	opacity:0.7;
}

.indianaIndividual {
	width: 100vw;
}

.indianaIndividualSVG {
	height: 200px;
}

.indianaFill {
	opacity:0.7;
}

.iowaIndividual {
	width: 100vw;
}

.iowaIndividualSVG {
	height: 150px;
}

.iowaFill {
	opacity:0.7;
}

.kansasIndividual {
	width: 100vw;
}

.kansasIndividualSVG {
	height: 120px;
}

.kansasFill {
	opacity:0.7;
}

.kentuckyIndividual {
	width: 100vw;
}

.kentuckyIndividualSVG {
	height: 130px;
}

.kentuckyFill {
	opacity:0.7;
}


.louisianaIndividual {
	width: 100vw;
}

.louisianaIndividualSVG {
	height: 160px;
}

.louisianaFill {
	opacity:0.7;
}


.maineIndividual {
	width: 100vw;
}

.maineIndividualSVG {
	height: 220px;
}

.maineFill {
	opacity:0.8;
}


.marylandIndividual {
	width: 100vw;
}

.marylandIndividualSVG {
	margin-left: -50px;
	height: 130px;
}

.marylandFill {
	opacity:0.8;
}


.massachusettsIndividual {
	width: 100vw;
}

.massachusettsIndividualSVG {
	margin-left: -30px;
	height: 130px;
}

.massachusettsFill {
	opacity:0.8;
}


.michiganIndividual {
	width: 100vw;
}

.michiganIndividualSVG {
	margin-left: -30px;
	height: 130px;
}

.michiganFill {
	opacity:0.6;
}


.minnesotaIndividual {
	width: 100vw;
}

.minnesotaIndividualSVG {
	margin-top: -10px;
	height: 190px;
}

.minnesotaFill {
	opacity:0.6;
}


.mississippiIndividual {
	width: 100vw;
}

.mississippiIndividualSVG {
	margin-top: -10px;
	height: 200px;
}

.mississippiFill {
	opacity:0.3;
}


.missouriIndividual {
	width: 100vw;
}

.missouriIndividualSVG {
	margin-top: -10px;
	height: 180px;
}

.missouriFill {
	opacity:0.3;
}


.montanaIndividual {
	width: 100vw;
}

.montanaIndividualSVG {
	margin-top: -10px;
	height: 140px;
}

.montanaFill {
	opacity:0.3;
}


.nebraskaIndividual {
	width: 100vw;
}

.nebraskaIndividualSVG {
	margin-left: -10px;
	height: 120px;
}

.nebraskaFill {
	opacity:0.2;
}


.nevadaIndividual {
	width: 100vw;
}

.nevadaIndividualSVG {
	height: 256px;
    margin-top: -50px;
}

.nevadaFill {
	opacity:0.2;
}


.newhampshireIndividual {
	width: 100vw;
}

.newhampshireIndividualSVG {
	height: 256px;
    margin-top: -40px;
    margin-left: 40px;
}

.newhampshireFill {
	opacity:0.2;
}


.newjerseyIndividual {
	width: 100vw;
}

.newjerseyIndividualSVG {
	height: 256px;
    margin-top: -50px;
    margin-left: 40px;
}

.newjerseyFill {
	opacity:0.2;
}


.newmexicoIndividual {
	width: 100vw;
}

.newmexicoIndividualSVG {
    height: 186px;
    margin-top: -20px;
    margin-left: 10px;
}

.newmexicoFill {
	opacity:0.3;
}


.newyorkIndividual {
	width: 100vw;
}

.newyorkIndividualSVG {
    height: 166px;
    margin-top: -10px;
}

.newyorkFill {
	opacity:0.8;
}


.ncarolinaIndividual {
	width: 100vw;
}

.ncarolinaIndividualSVG {
    height: 116px;
    margin-left: -20px;
}

.ncarolinaFill {
	opacity:0.6;
}


.ndakotaIndividual {
	width: 100vw;
}

.ndakotaIndividualSVG {
    height: 126px;
}

.ndakotaFill {
	opacity:0.6;
}


.ohioIndividual {
	width: 100vw;
}

.ohioIndividualSVG {
    height: 196px;
    margin-top: -30px;
    margin-left: 20px;
}

.ohioFill {
	opacity:0.6;
}


.oklahomaIndividual {
	width: 100vw;
}

.oklahomaIndividualSVG {
    height: 116px;
    margin-left: -20px;
}

.oklahomaFill {
	opacity:0.6;
}


.oregonIndividual {
	width: 100vw;
}

.oregonIndividualSVG {
    height: 176px;
    margin-left: -10px;
    margin-top: -20px;
}

.oregonFill {
	opacity:0.55;
}


.pennsylvaniaIndividual {
	width: 100vw;
}

.pennsylvaniaIndividualSVG {
    height: 156px;
}

.pennsylvaniaFill {
	opacity: 0.9;
}


.rhodeislandIndividual {
	width: 100vw;
}

.rhodeislandIndividualSVG {
    height: 226px;
    margin-top: -30px;
    margin-left: 30px;
}

.rhodeislandFill {
	opacity: 0.7;
}


.scarolinaIndividual {
	width: 100vw;
}

.scarolinaIndividualSVG {
	height: 176px;
    margin-top: -20px;
}

.scarolinaFill {
	opacity: 0.6;
}


.sdakotaIndividual {
	width: 100vw;
}

.sdakotaIndividualSVG {
    height: 136px;
}

.sdakotaFill {
	opacity: 0.2;
}


.tennesseeIndividual {
	width: 100vw;
}

.tennesseeIndividualSVG {
    height: 116px;
    margin-left: -30px;
}

.tennesseeFill {
	opacity: 0.4;
}


.texasIndividual {
	width: 100vw;
}

.texasIndividualSVG {
    height: 216px;
    margin-left: -30px;
    margin-top: -30px;
}

.texasFill {
	opacity: 0.5;
}


.utahIndividual {
	width: 100vw;
}

.utahIndividualSVG {
    height: 196px;
    margin-top: -30px;
}

.utahFill {
	opacity: 0.2;
}


.vermontIndividual {
	width: 100vw;
}

.vermontIndividualSVG {
    height: 216px;
    margin-top: -30px;
    margin-left: 30px;
}

.vermontFill {
	opacity: 0.6;
}


.virginiaIndividual {
	width: 100vw;
}

.virginiaIndividualSVG {
    height: 156px;
    margin-top: -10px;
    margin-left: -30px;
}

.virginiaFill {
	opacity: 0.8;
}


.washingtonIndividual {
	width: 100vw;
}

.washingtonIndividualSVG {
	height: 156px;
    margin-top: -20px;
}

.washingtonFill {
	opacity: 0.2;
}


.wVirginiaIndividual {
	width: 100vw;
}

.wVirginiaIndividualSVG {
    height: 186px;
    margin-top: -30px;
}

.wVirginiaFill {
	opacity: 0.55;
}


.wisconsinIndividual {
	width: 100vw;
}

.wisconsinIndividualSVG {
	height: 186px;
    margin-top: -20px;
}

.wisconsinFill {
	opacity: 0.8;
}


.wyomingIndividual {
	width: 100vw;
}

.wyomingIndividualSVG {
	height: 156px;
    margin-top: -20px;
}

.wyomingFill {
	opacity: 0.2;
}







