.yourStateSection {
	height: 100vh;
	width: 100vw;
	background-color: white;
	top: 100vh;
}

.mountainPeaksSVG{fill:#FFFFFF;}

.yourStateHeading {
	width: 370px;
    margin: 0 auto;
    margin-top: 160px;
}

.yourStateHeader {
	width: 321px;
	font-weight: 400;
    line-height: 1.3em;
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .14em;
    color: #592c4e;
}

.yourStateP{
	margin-top: 30px;
	font-size: .8em;
	line-height: 1.5em;
	color: #58595b;
	letter-spacing: .04em;
}

.yourState {
	fill:#592c4e;
}