.yourState {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

.mountainPeaksContainer {
	position: relative;
	height: 130px;
	background-color: $skin;
}

.mountainPeaks {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.mountainPeaksSVG{fill:#FFFFFF;}