.yourStateSection {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

.mountainPeaksContainer {
	position: relative;
	height: 130px;
	background-color: $skin;
}

.mountainPeaks {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.mountainPeaksSVG{fill:#FFFFFF;}

.yourStateHeading {
	color: $dark-purple;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.3em;
}

.yourStateHeader {
	width: 400px;
}

.yourStateP{
	margin-top: 30px;
	font-size: .8em;
	line-height: 1.5em;
	color: #58595b;
	letter-spacing: .04em;
}

.yourState {
	fill:white;stroke:$dark-purple;stroke-width:0.75;stroke-miterlimit:10;
}