.yourStateMap {
	position: relative;
    transform: scale(1.4);
    margin: 0 auto;
    margin-top: 160px;
    width: 516px;
}

.yourStateWashington {
	width: 69.5px;
	position: absolute;
	top: -43px;
    left: -16px;
    opacity: .3;

    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
	    cursor: pointer;
    }
}

.yourStateOregon {
	width: 82px;
    position: absolute;
    top: 0px;
    left: -36px;
    opacity: .65;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateCalifornia {
	width: 84px;
    position: absolute;
    top: 60px;
    left: -46px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNevada {
	width: 68px;
	position: absolute;
    top: 68px;
    left: -1px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateIdaho {
	width: 62px;
	position: absolute;
    top: -20px;
    left: 37px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateArizona {
	width: 71px;
	position: absolute;
    top: 152px;
    left: 42px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateUtah {
	width: 60px;
	position: absolute;
	top: 81px;
    left: 61px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMontana {
	width: 101px;
	position: absolute;
    top: -22px;
    left: 70px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateWyoming {
	width: 72px;
	position: absolute;
    top: 42px;
    left: 107px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateColorado {
	width: 75px;
	position: absolute;
	top: 102px;
    left: 121px;
    opacity: .3;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNewmexico {
	width: 72px;
	position: absolute;
    top: 160px;
    left: 114px;
    opacity: .3;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNdakota {
	width: 70px;
	position: absolute;
    top: -19px;
    left: 176px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateSdakota {
	width: 73px;
	position: absolute;
    top: 29px;
    left: 185px;
    opacity: .3;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNebraska {
	width: 85px;
	position: absolute;
    top: 74px;
    left: 184px;
    opacity: .3;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateKansas {
	width: 77px;
	position: absolute;
    top: 118px;
    left: 202px;
    opacity: .5;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateOklahoma {
	width: 91px;
	position: absolute;
    top: 165px;
    left: 196px;
    opacity: .4;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateTexas {
	width: 140px;
	position: absolute;
	top: 182px;
    left: 151px;
    opacity: .5;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMinnesota {
	width: 68px;
	position: absolute;
    top: -21px;
    left: 254px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateIowa {
	width: 65px;
	position: absolute;
    top: 59px;
    left: 261px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMissouri {
	width: 73px;
	position: absolute;
    top: 103px;
    left: 283px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateLouisiana {
	width: 65px;
	position: absolute;
    top: 220px;
    left: 292px;
    opacity: .5;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateWisconsin {
	width: 56px;
	position: absolute;
    top: 4px;
    left: 304px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateIllinois {
	width: 47px;
	position: absolute;
    top: 66px;
    left: 334px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMichigan {
	width: 80px;
	position: absolute;
    top: -10px;
    left: 337px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateIndiana {
	width: 39px;
	position: absolute;
    top: 59px;
    left: 381px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateKentucky {
	width: 75px;
	position: absolute;
    top: 107px;
    left: 381px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateTennessee {
	width: 86px;
	position: absolute;
    top: 146px;
    left: 352px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMississippi {
	width: 44px;
	position: absolute;
    top: 184px;
    left: 350px;
    opacity: .2;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateAlabama {
	width: 48px;
	position: absolute;
    top: 177px;
    left: 394px;
    opacity: .5;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateGeorgia {
	width: 62px;
	position: absolute;
    top: 172px;
    left: 433px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateOhio {
	width: 48px;
	position: absolute;
    top: 44px;
    left: 418px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateWVirginia {
	width: 49px;
	position: absolute;
    top: 69px;
	left: 458px;
    opacity: .65;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateVirginia {
	width: 80px;
	position: absolute;
    top: 88px;
    left: 461px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNCarolina {
	width: 86px;
	position: absolute;
    top: 129px;
    left: 434px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateSCarolina {
	width: 48px;
	position: absolute;
    top: 173px;
    left: 480px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateFlorida {
	width: 97px;
	position: absolute;
    top: 232px;
    left: 431px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStatePennsylvania {
	width: 64px;
	position: absolute;
    top: 14px;
    left: 463px;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMaryland {
	width: 52px;
	position: absolute;
    top: 52px;
    left: 482px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNewyork {
	width: 78px;
	position: absolute;
    top: -40px;
    left: 482px;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.blueState {
	fill:#e5dbca;stroke:#592c4e;stroke-width:0.75;stroke-miterlimit:10;
}

.purpleState {
	fill:#e5dbca;stroke:#592c4e;stroke-width:0.75;stroke-miterlimit:10;
}

.yourStateDelaware {
    width: 14px;
    position: absolute;
    top: 55px;
    left: 539px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNewjersey {
	width: 15px;
	position: absolute;
    top: 18px;
    left: 528px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateConneticut {
	width: 23px;
	position: absolute;
    top: -22px;
    left: 546px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMassachusetts {
	width: 37px;
	position: absolute;
    top: -41px;
    left: 544px;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateVermont {
	width: 19px;
    position: absolute;
    top: -70px;
    left: 527px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateNewhampshire {
    width: 18px;
    position: absolute;
    top: -78px;
    left: 550px;
    opacity: .6;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateMaine {
    width: 41px;
    position: absolute;
    top: -119px;
    left: 560px;
    opacity: .8;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateRhodeIsland {
	width: 8px;
    position: absolute;
    top: -12px;
    left: 575px;
    opacity: .7;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}

.yourStateArkansas {
	width: 57px;
	position: absolute;
    top: 162px;
    left: 289px;
    opacity: .5;
    
    &:hover {
	    transform: scale(1.1);
	    z-index: 1;
	    transition: .1s linear;
    }
}